header {
    width: auto;
    background-color: #bcd4f4;
    height: 130px;
}

nav {
    background-color: #272f54;
    border: rgb(0, 255, 174);
    display: flex;
}

nav a {
    text-decoration: none;
    color: #F5f5f5;
    display: block;
    padding: 0 5px 5px;
}

.sug {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 80%;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px 0 0 3px;
}

.search-bar button {
    padding: 5px 5px;
    border: none;
    background-color: #272f54;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

footer {
    height: 50px;
    background-color: #105cac;
    clear: both;
    border-radius: 5px;
}

.foob {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}