p.sao {
    font-size: 40px;
    font-weight: bold;
}

p#tx1 {
    font-size: 20px;
    color: red;
}

p#tx2 {
    font-size: 20px;
    color: blue;
}

p#tx3 {
    font-size: 20px;
    color: green;
}

a#sao-red {
    color: red;
}